body {
    padding: 50px 0 20px 0;
    background-color: #EEE;
    background-image: url('/images/theme/bg-01.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.navbar {
    box-shadow: 0 5px 4px -6px #000;
}

.navLogo {
    background-image: url(/images/theme/app-logo-s.png);
    background-size: 100%;
    background-repeat: no-repeat;
    padding-right: 16px;
    width: 100px;
    margin-right: 12px;
    background-position: center;
}

.navbar li {
    font-weight: bold;
}

.sectionHeader {
    background-color: rgb(27, 226, 226);
    padding: 8px 0 24px 24px;
    width: 100% !important;
}

.sectionHeading {
    color: white;
    font-size: 1.3em;
    font-family: "Roboto";
    padding: 16px 0 16px 0;
    border-bottom: 1px solid #335;
    margin-bottom: 12px;
}

.postHeading {
    color: white;
    font-size: 1.1em;
    font-family: "Roboto";
    padding: 16px 0 16px 0;
}


.sectionInfo {
    height: 400px;
    background-color: white;
}

.frontPageSplash {
    background-image: url(/images/theme/front-splash.png);
    /*background-repeat: no-repeat;*/
}

.frontPageLearn {
    font-family: "Roboto";
    padding: 12px 0 0 32px;
    height: 360px;
    color: #EEE;
}

.sectionDescritpion {
    color: #EEE;
}

.frontPageHeading {
    font-size: 3.2em;
    margin: 16px 0;
}

.frontPageSubHeading {
    font-size: 1.6em;
    margin: 16px 0;
}

.frontPageTopContainer {
    padding: 40px 80px 42px 40px;
    border: 1px solid #999;
    background-color: #2569D5;
    font-family: "Roboto";
}

.frontPageContent {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 32px;
}

#latestPosts {
    font-size: 1.2em;
    font-weight: bold;
    color: #333;
    margin: 4px 0 16px 0;
}

/* Style the search field */
form.search-form input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #999;
    color: #EEE;
    font-family: "Roboto";
}

/* Style the submit button */
form.search-form input {
    float: left;
    width: 20%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none; /* Prevent double borders */
}

    form.search-form input:hover {
        background: #0b7dda;
    }

/* Clear floats */
form.search-form::after {
    content: "";
    clear: both;
    display: table;
}
