@model LamdaForum.Web.Models.HomeIndexModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row">
        <table class="table table-hover table-responsive table-bordered">
            <thead>
                <tr>
                    <td>Name</td>
                    <td>Author</td>
                    <td>Posted</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var posts in Model.LatestPosts)
                {
                    <tr>
                        <td>@posts.Title</td>
                        <td>@posts.AuthorName</td>
                        <td>@posts.DatePosted</td>
                    </tr>
                }

            </tbody>

        </table>
    </div>
</div>