@model LamdaForum.Web.Models.Forum.ForumIndexModel

<h2>Forums</h2>

<table class="table table-hover table-bordered table-responsive" id="forumIndexTable">
    <tbody>
        @foreach (var forum in Model.ForumList)
        {
            <tr>
                <td><a asp-controller="Forum" asp-action="Topic" asp-route-id="@forum.Id"> @forum.Title</a> </td>
                <td>@forum.Description</td>
            </tr>
        }
    </tbody>
</table>